# Assignment 6

# Chapter 8

### 8.2

In [1]:
word="banana"
word.count('a')

3

In [11]:
def count(word,character):
    count = 0
    for letter in word:
        if letter == character:
            count = count + 1
    return(count)

In [14]:
count("banana",'n')

2

### 8.4

(1)

In [4]:
def any_lowercase1(s):
    for c in s:
        if c.islower():
            return True
        else:
            return False

In [5]:
any_lowercase1("bANANA")

True

In [6]:
any_lowercase1("Banana")

False

This function only checks for the first letter of a string because the function returns true or false for the first for loop iteration as the return statements are inside the for loop.

(2)

In [7]:
def any_lowercase2(s):
    for c in s:
        if 'c'.islower():
            return 'True'
        else:
            return 'False'

In [8]:
any_lowercase2("bANANA")

'True'

In [9]:
any_lowercase2("BANANAA")

'True'

There are two problems in this 1.As 'c' is already a lowercase letter, so it always returns true. 2.It returns string instead of boolean

(3)

In [17]:
def any_lowercase3(s):
    for c in s:
        flag = c.islower()
    return flag

In [18]:
any_lowercase3("BANANa")

True

In [19]:
any_lowercase3("bananA")

False

It iterates through the for loop for the whole string and returns boolean after the iteration is done. Therefore it only checks for the last letter of the string.

(4)

In [24]:
def any_lowercase4(s):
    flag = False
    for c in s:
        flag = flag or c.islower()
    return flag

In [25]:
any_lowercase4("bANANA")

True

In [30]:
any_lowercase4("Wow")

True

In [74]:
any_lowercase4("aA")

True

Flag always stays true after it gets true once and stays true even when the letter is not actually lower case. Technically true because it has to get true value at least once to always be true after. So I conclude that this function is actually true.

In [33]:
def any_lowercase5(s):
    for c in s:
        if not c.islower():
            return False
    return True

In [37]:
any_lowercase5("baaA")

False

It runs and if even one letter is uppercase in passed string, it returns false.

### 8.5

In [94]:
k=ord('a')+3
chr(k)

'd'

In [7]:
def rotate_word(word:str,count:int):
    word2=''
    w=''
    for c in word:
        l=ord(c)+count
        if c.islower():
            if l>ord('z'):
                w=chr(ord('a')+(l-ord('z'))-1)
                word2=word2+w
            elif l<ord('a'):
                w=chr(ord('z')-(ord('a')-l)+1)
                word2=word2+w
            else:
                word2=word2+chr(l)
        if c.isupper():
            if l>ord('Z'):
                w=chr(ord('A')+(l-ord('Z'))-1)
                word2=word2+w
            elif l<ord('A'):
                w=chr(ord('Z')-(ord('A')-l)+1)
                word2=word2+w
            else:
                word2=word2+chr(l)
    return word2

In [39]:
rotate_word("Abcd",-4)

'Wxyz'

# chapter 10

### 10.1

In [40]:
def nested_sum(nest):
    total=0
    for list1 in nest:
        for number in list1:
            total=total+number
    return total

In [41]:
res=[[1,2],[3],[4,5,6]]

In [42]:
nested_sum(res)

21

### 10.2

In [43]:
def cum_sum(numbers):
    numbers2=[]
    for i in range(len(numbers)):
        numbers2.append(sum(numbers[0:i+1]))
    return numbers2

In [45]:
cum_sum([1,2,3])

[1, 3, 6]

### 10.6

In [46]:
def is_anagram(w,s):
    if not len(list(w))==len(list(s)):
        return False
    j=True
    if len(list(w))==len(list(s)):
        k=list(w)
        l=list(s)
        k.sort()
        l.sort()
        for i in range(len(w)):
            if (k[i]==l[i]):
                j=j and True
            else:
                j=False
    return j

In [63]:
is_anagram('evil','vile')

True

### 10.7

In [69]:
def has_duplicates(list):
    m=False
    for i in range(len(list)):
        d=list[i]
        for j in range(len(list)):
            e=list[j]
            k= d==e
            l= not i==j
            m=m or k and l
    return m

In [70]:
has_duplicates([1,2,5])

False

### 10.8

In [78]:
import random

def random_bdays(n):
    t = []
    for i in range(n):
        bday = random.randint(1, 365)
        t.append(bday)
    return t


def count_matches(num_students, simulations):
    count = 0
    for i in range(simulations):
        t = random_bdays(num_students)
        if has_duplicates(t):
            count += 1
    return count


def main():
    students = 23
    simulations = 1000
    count = count_matches(students, simulations)

    print('After %d simulations' % simulations)
    print('with %d students' % students)
    print('there were %d simulations which had at least one match' % count)

main()

After 1000 simulations
with 23 students
there were 509 simulations which had at least one match

# chapter 9

### 9.7

In [79]:
def double_thrice(string):
    i = 0
    count = 0
    while i < len(string)-1:
        if string[i] == string[i+1]:
            count = count + 1
            if count == 3:
                return True
            i = i + 2
        else:
            i = i + 1 - 2*count
            count = 0
    return False

In [80]:
double_thrice('mississippi')

False

In [83]:
def find_triple_double():#to find from a file
    fin = open('words.txt')
    for line in fin:
        word = line.strip()
        if is_triple_double(word):
            print(word)

### 9.9

In [62]:
def reverse_ages(mom,son):
    diff=mom-son
    son1=0
    mom1=diff
    while mom1<100:
        son1=son1+1
        mom1=mom1+1
        if son1>10:#I was confused as in if I had to take the 1 digit number as well eg.'02' and '20'. In this I am only taking two digits and if we have to take one digits, we i would just remove this if condition
            k=str(son1).zfill(2)
            l=k[1]+k[0]
        
            if l==str(mom1).zfill(2):
                print(str(son1).zfill(2)+' '+str(mom1))

In [61]:
reverse_ages(19,1)

13 31
24 42
35 53
46 64
57 75
68 86
79 97

# Chapter 11

### 11.2

In [65]:
h=dict()

In [66]:
h['one']=1
h['two']=2

In [67]:
h

{'one': 1, 'two': 2}

In [74]:
str(h.setdefault('two'))

'2'

In [92]:
def invert_dict(dict1):
    dict2=dict()
    for k in dict1:
        
        if k not in dict2:
            dict2[dict1.setdefault(k)]=k
    return dict2

In [93]:
invert_dict(h)

{1: 'one', 2: 'two'}

### 11.4

In [82]:
def has_duplicates2(t):
    d = {}
    for x in t:
        if x in d:
            return True
        d[x] = True
    return False